.login-style {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.button-style {
    padding: 100px;
    background-color: rgb(109, 109, 255);
}
.button-style button{
    border: none;
    outline: none;
    padding: 20px 15px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(8, 133, 8);
    background-color: white;
    border-radius: 10px;
}